<div class="menu-wrapper-luxome-products">
	<ul class="product-menu">
    <li class="item">
      <a href="/products/climasense-comforter?variant=40039052279869">
        {% comment %}ClimaSense Comforter 6824157577277{% endcomment %}
          <div class='image-cover'>
          <img src="{{climasense-comforter.variants[0].featured_image.src | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{climasense-comforter.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{climasense-comforter.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/duvet-cover?variant=40040987820093">
        {% comment %} Duvet Cover{% endcomment %}
          <div class='image-cover'>
          <img src="{{duvet-cover.images[25] | img_url: '468x' }}">
          <script>console.log({{ duvet-cover | json }});</script>
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{duvet-cover.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{duvet-cover.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/ultra-plush-throw?variant=39970670051389">
         {% comment %} Ultra Plush Throw 6789635113021 {% endcomment %}
          <div class='image-cover'>
          {% comment %} <img src="{{ultra-plush-throw.variants[13].featured_image.src | img_url: '468x' }}"> {% endcomment %}
          <img src="{{ 'CloudUPT-HOLIDAY.png' | asset_img_url: '300x' }}" class="" alt="Ultra Plush Throw">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{ultra-plush-throw.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{ultra-plush-throw.price_min | money}}</span></span>
          </div>
      </a>
    </li> 
    <li class="item">
      <a href="/products/bamboo-sheets?variant=32926518837309">
        {% comment %} Luxury Sheet Set  {% endcomment %}
          <div class='image-cover'>
            <img src="{{ luxury-sheets.variants[9].featured_image.src | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{luxury-sheets.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{luxury-sheets.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item"> 
      <a href="/products/layr-adjustable-pillow?variant=31902303125565">
        {% comment %} LAYR Customizable Pillow  {% endcomment %}
          <div class='image-cover'>
            <img src="{{layr-pillow.images[0] | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{layr-pillow.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{layr-pillow.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/bamboo-blanket?variant=39344804757565">
        {% comment %} Lightweight Blanket  {% endcomment %}
          <div class='image-cover'>
            <img src="{{lightweight-blanket.variants[0].featured_image.src | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{lightweight-blanket.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{lightweight-blanket.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/plush-performance-towels?variant=39535706800189">
        {% comment %} Plush Performance Towel Set {% endcomment %}
        <div class='image-cover'>
          <img src="{{plush-performance-towel-set.variants[10].featured_image.src | img_url: '468x' }}">
        </div>
        <div class='homepage-title-cover'>
          <h3 class='collection-product-home-title'>{{plush-performance-towel-set.title}}</h3>
          <span>Starting at <span class="numeric-quicksand">{{plush-performance-towel-set.price_min | money}}</span></span>
        </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/spa-collection-towels?variant=39553092649021">
        {% comment %} Spa Collection Towel Set {% endcomment %}
        <div class='image-cover'>
          <img src="{{spa-towel-set.variants[10].featured_image.src | img_url: '468x' }}">
        </div>
        <div class='homepage-title-cover'>
          <h3 class='collection-product-home-title'>{{spa-towel-set.title}}</h3>
          <span>Starting at <span class="numeric-quicksand">{{spa-towel-set.price_min | money}}</span></span>
        </div>
      </a>
    </li>
    <li class="item">
    <script>console.log({weighted: {{weighted-blanket | json }} })</script>
      <a href="/products/weighted-blanket?variant=40256155779133">
        {% comment %}  Weighted Blanket {% endcomment %}
          <div class='image-cover'>
          <img src="{{weighted-blanket.variants[0].featured_image.src | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{weighted-blanket.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{weighted-blanket.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    <li class="item">
      <a href="/products/bamboo-pillowcase-set?variant=31945175728189">
        {% comment %} Luxury Pillowcase Set {% endcomment %}
          <div class='image-cover'>
          <img src="{{luxury-pillowcase-set.variants[10].featured_image.src | img_url: '468x' }}">
          <script>console.log({pillowcase: {{luxury-pillowcase-set | json }} })</script>

          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{luxury-pillowcase-set.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{luxury-pillowcase-set.price_min | money}}</span></span>
          </div>
      </a>
    </li>

    {% comment %} 
    <li class="item">
      <a href="/products/ultra-plush-robe?variant=39788176408637 ">
         Ultra Plush Robe 
          <div class='image-cover'>
          <img src="{{ultra-plush-robe.variants[0].featured_image.src | img_url: '468x' }}">
          </div>
          <div class='homepage-title-cover'>
            <h3 class='collection-product-home-title'>{{ultra-plush-robe.title}}</h3>
            <span>Starting at <span class="numeric-quicksand">{{ultra-plush-robe.price_min | money}}</span></span>
          </div>
      </a>
    </li>
    {% endcomment %}
	</ul>
  <span class="product-main-image-nav-btn product-main-image-nav-btn_prev js-arrow-prev">
    <div onclick="moveLeft()" class="product-main-image-nav-btn__inner left-paddle"></div>
  </span>
  <span class="product-main-image-nav-btn product-main-image-nav-btn_next js-arrow-next">
    <div onclick="moveRight()" class="product-main-image-nav-btn__inner right-paddle"></div>
  </span>
  <div onclick="moveRight()" class="product-main-image-nav-btn__inner"></div>
  <script>
    function moveLeft(){
    let focused = document.querySelector('.thumb-focused');
    let idx = focused.parentNode.parentNode.dataset.index;
    let first = true;
    if(parseInt(idx) > 0){
      const slides = [...document.querySelectorAll('.product__thumb')];
      slides.reverse().forEach(function(slide){
        let display = window.getComputedStyle(slide.parentNode.parentNode).display;
        if(parseInt(slide.dataset.index) < parseInt(idx) && display === 'block' && first ){
          thumbFocus(slide)
          dotFocus(document.querySelectorAll('.dot-carousel')[slide.dataset.index])
          first = false;
        }
      })
      
    }
  }
  
  function moveRight(){
    let focused = document.querySelector('.thumb-focused');
    let maxLength = document.querySelectorAll('.product__thumb-item').length;
    let idx = focused.parentNode.parentNode.dataset.index;
    let first = true;
    if(parseInt(idx) < maxLength){
      const slides = [...document.querySelectorAll('.product__thumb')];
      slides.forEach(function(slide){
        let display = window.getComputedStyle(slide.parentNode.parentNode).display;
        if(parseInt(slide.dataset.index) > parseInt(idx) && display === 'block' && first ){
          thumbFocus(slide)
          dotFocus(document.querySelectorAll('.dot-carousel')[slide.dataset.index])
          first = false;
        }
      })
      
    }
  }
  </script>
</div>
<div class="view-all-products">
  <a class="view-all-products-button" href="/collections/all-products">
    VIEW ALL PRODUCTS
  </a>
</div>
<style>
  .homepage-title-cover {
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homepage-title-cover span{
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
  }
  .menu-wrapper-luxome-products {
    background:black;
    position: relative;
    height: 300px; // hide the scroll bar
    margin: 1em auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .menu-wrapper-luxome-products .product-main-image-nav-btn{
    top: 45%;
  }
  .view-all-products{
    background:black;
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }
  .view-all-products-button{
    border: 1px solid white;
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: Uppercase;
    display: flex;  
    font-weight: 600;
    font-size: 1em;
    line-height: 1;
    justify-content: center;
    padding: 10px 20px;
  }
  .product-menu	{
    margin:unset;
    padding: 2em 1em;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .product-menu .item {
    display: inline-block;
    width: 300px;
    padding-right: 4px;    
  }

  .hidden {
    display: none;
  }   

</style>

<script>
  // duration of scroll animation
  var scrollDuration = 300;
  // paddles
  var leftPaddle = document.getElementsByClassName('left-paddle');
  var rightPaddle = document.getElementsByClassName('right-paddle');
  // get items dimensions
  var itemsLength = $('.item').length;
  var itemSize = $('.item').outerWidth(true);
  // get some relevant size for the paddle triggering point
  var paddleMargin = 20;

  // get wrapper width
  var getMenuWrapperSize = function() {
    return $('.menu-wrapper-luxome-products').outerWidth();
  }
  var menuWrapperSize = getMenuWrapperSize();
  // the wrapper is responsive
  $(window).on('resize', function() {
    menuWrapperSize = getMenuWrapperSize();
  });
  // size of the visible part of the menu is equal as the wrapper size 
  var menuVisibleSize = menuWrapperSize;

  // get total width of all menu items
  var getMenuSize = function() {
    return itemsLength * itemSize;
  };
  var menuSize = getMenuSize();
  // get how much of menu is invisible
  var menuInvisibleSize = menuSize - menuWrapperSize;

  // get how much have we scrolled to the left
  var getMenuPosition = function() {
    return $('.product-menu').scrollLeft();
  };

  // finally, what happens when we are actually scrolling the menu
  $('.product-menu').on('scroll', function() {

    // get how much of menu is invisible
    menuInvisibleSize = menuSize - menuWrapperSize;
    // get how much have we scrolled so far
    var menuPosition = getMenuPosition();

    var menuEndOffset = menuInvisibleSize - paddleMargin;

    // show & hide the paddles 
    // depending on scroll position
    if (menuPosition <= paddleMargin) {
      $(leftPaddle).addClass('hidden');
      $(rightPaddle).removeClass('hidden');
    } else if (menuPosition < menuEndOffset) {
      // show both paddles in the middle
      $(leftPaddle).removeClass('hidden');
      $(rightPaddle).removeClass('hidden');
    } else if (menuPosition >= menuEndOffset) {
      $(leftPaddle).removeClass('hidden');
      $(rightPaddle).addClass('hidden');
  }

  });

  // scroll to left
  $(rightPaddle).on('click', function() {
    $('.product-menu').animate( { scrollLeft: getMenuPosition() + 300}, scrollDuration);
  });

  // scroll to right
  $(leftPaddle).on('click', function() {
    $('.product-menu').animate( { scrollLeft: getMenuPosition() - 300 }, scrollDuration);
  });
</script> 