<header class="dark-blue-header">
  <h3 class="dark-blue-h3">SUSTAINABILITY</h3>
  <h1 class="page-sustainability-header">Designing for the Long Term</h1>
</header>
<main class="page page-sustainability">
  <img src="{{ 'SUSTAINABILITY-desktop.png' | asset_url }}" class="page-cover page-cover-desktop" alt="woman watching window sustainability"/>
  <img src="{{ 'SUSTAINABILITY-mobile.png' | asset_url }}" class="page-cover page-cover-mobile" alt="woman watching window sustainability"/>
  
  <h1 class="page-sustainability-title-content">Doing our Part</h1>
  
  <p class="page-textcontent">
  	At LUXOME, we are driven by the desire to not only make an impact on our customers and their
    daily lives, but to also make a positive impact on the environment. We are continuously
    researching what we can do &amp; how we can do better to help. While we are still improving, here
    are some efforts we have already taken:
  </p>
  <div class="page-improvements-containers">
    <div class="page-improvement">
      <img class="page-improvement-img" src="{{ 'Sateen-Weave.png' | asset_url }}" />
      <div class="page-improvement-content">
        <p>USING BAMBOO FABRICS</p>
        <p class="p-br">Instead of cheap cotton or expensive silk,</p>
        <p class="p-br">we use fabrics derived from the</p>
        <p class="p-br">environmentally friendly bamboo plant</p>
        <p class="p-br">for our blankets and sheets.</p>
      </div>
    </div>
    <div class="page-improvement">
      <img class="page-improvement-img" src="{{ 'Glass_Beads.png' | asset_url }}'"/>
      <div class="page-improvement-content">
        <p>GLASS VS. PLASTIC BEADS</p>
        <p class="p-br">Our glass beads that provide the weight</p>
        <p class="p-br">in our blankets are naturally hypoallergenic,</p>
        <p class="p-br">certified lead-free, and an environmentally</p>
        <p class="p-br">friendly alternative to the more commonly</p>
        <p class="p-br">used plastic pellets.</p>
      </div>
    </div>
    
    <div class="page-improvement">
      <img class="page-improvement-img" src="{{ 'Luxome-Tote.png' | asset_url }}" />
      <div class="page-improvement-content">
        <p>REUSABLE PACKAGING</p>
        <p class="p-br">Our blankets &amp; sheets are perfectly</p>
        <p class="p-br">packaged in stylish bags or totes that</p>
        <p class="p-br">can easily be reused for personal storage,</p>
        <p class="p-br">travel and more!</p>
      </div>
    </div>
  </div>
  
  <div class="page-bamboo-container">
  	<img src="{{ 'Eco-Friendly.jpg' | asset_url }}" class="page-cover" alt="eco friendly bamboo tree sustainability"/>
    <div class="page-bamboo-text">
      <h1 class="page-bamboo-title">Better with Bamboo</h1>
      <p class="page-bamboo-content display-desktop">
        When it comes to debating the most sustainable, soft, smooth &amp; luxurious feeling fabrics,
      </p>
      <p class="page-bamboo-content display-desktop">
        those derived from the bamboo plant are a more sustainable choice.
      </p>
      <p class="page-bamboo-content display-mobile">
        When it comes to debating the most sustainable,
      </p>
      <p class="page-bamboo-content display-mobile">
		    soft, smooth &amp; luxurious feeling fabrics, those
      </p>
      <p class="page-bamboo-content display-mobile">
        derived from the bamboo plant are a more
      </p>
      <p class="page-bamboo-content display-mobile">
		    sustainable choice.
      </p>
    </div>
  </div>

  <p class="page-textcontent">
    Our buttery soft <a class="page-sustainability-link" href="/products/bamboo-sheets?variant=31578516455485">Bamboo Viscose Sheets</a> and <a class="page-sustainability-link" href="/products/weighted-blanket?variant=40256156303421">Bamboo Lyocell Weighted Blankets</a> definitely
    make a lasting, luxurious impression. But why did we pick bamboo? In addition to the cooling
    and temperature-regulating properties of the fabric, here are a few other reasons:
  </p>
  <div class="page-reasons-container">
    <div class="reason">
   	  <img src="{{ 'Icon-Water_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">REQUIRES 1/3 OF THE</p>
      <p class="reason-title">WATER TO GROW</p>
    </div>
    <div class="reason">
   	  <img src="{{ 'Icon-Renewable_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">SELF-REGENERATING &amp; FASTEST</p>
	  <p class="reason-title">GROWING PLANT</p>	
    </div>
    <div class="reason">
   	  <img src="{{ 'Icon-Organic_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">DOES NOT REQUIRE PESTICIDES</p>
      <p class="reason-title">OR FERTILIZERS</p>
    </div>
    <div class="reason">
   	  <img src="{{ 'Icon-Allergy_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">HYPOALLERGENIC AND GENTLE</p>
      <p class="reason-title">ON SKIN &amp; ALLERGIES</p>
    </div>
    <div class="reason">
   	  <img src="{{ 'Icon-GoldOekoTex_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">OUR PRODUCTS ARE</p>
      <p class="reason-title">OEKO-TEX® STANDARD 100 CERTIFIED</p>
    </div>
    <div class="reason">
   	  <img src="{{ 'Icon-Panda_120x.png' | asset_url }}" class="reason-img" alt="eco friendly bamboo tree sustainability"/>
      <p class="reason-title">PANDA FRIENDLY</p>
      <p class="reason-title">(OUR BAMBOO ISN&#39;T THE SAME</p>
      <p class="reason-title">SPECIES THAT PANDAS EAT)</p>
    </div>
  </div>                                                                                                                   
</main>

<header class="dark-blue-header">
  <h1 class="page-sustainability-header-bottom display-desktop">Certain species of bamboo can grow up</h1>
  <h1 class="page-sustainability-header-bottom display-desktop">to 36 inches within a 24-hour period.</h1>
  
  <h1 class="page-sustainability-header-bottom display-mobile">Certain species of</h1>
  <h1 class="page-sustainability-header-bottom display-mobile">bamboo can grow up</h1>
  <h1 class="page-sustainability-header-bottom display-mobile">to 36 inches within a</h1>
  <h1 class="page-sustainability-header-bottom display-mobile">24-hour period.</h1>
</header>
