{% if product.id == 2140387999813 %}{%comment%}cooling-weighted-blankets{%endcomment%}
<div class="perfectly-cooling-weighted innovation-layr-feature">
  <div class="innovation-layr-left-text">
    <p class="sub-header-text">
      PERFECTLY
    </p>
    <h1>
      Cooling
    </h1>
    <p>
      We paired our premium weighted blankets with ultra-luxury cooling Lyocell from Bamboo to create the coolest weighted blankets ever. 
      Our silky Lyocell from Bamboo is softer than 1,000+ thread count Egyptian Cotton and will keep you cool all night long.
    </p>
    <div class="sub-header-text">
      <a id="size-guide-modal-link-pt2" class="size-guide-link">
        <button>VIEW OUR SIZE CHART</button>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt2" -%}
      </a>
    </div>
  </div>
</div>

{% elsif product.id == 1482400661573 %}{%comment%}weighted-blanket-integrated{%endcomment%}
<div class="one-piece-wonder-integrated innovation-layr-feature">
  <div class="innovation-layr-left-text">
    <p class="sub-header-text">
      ONE-PIECE
    </p>
    <h1>
      Wonder
    </h1>
    <p>
      We took our award-winning weighted blanket and integrated our ultra-plush minky and luxury Lyocell from Bamboo fabrics right onto the blanket. 
      The result is a premium one-piece weighted blanket that is 100% machine washable without the hassle of a removable cover.
    </p>
    <div class="sub-header-text">
      <a id="size-guide-modal-link-pt2" class="size-guide-link">
        <button>VIEW OUR SIZE CHART</button>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt2" -%}
      </a>
    </div>
  </div>
</div>
{% elsif product.id == 6789635113021 %}{%comment%}Ultra-Plush-Throw{%endcomment%}
<div class="ultra-plush-throw innovation-layr-feature">
  <div class="innovation-layr-left-text">
    <p class="sub-header-text">
      DESIGNED TO FEEL
    </p>
    <h1>
      Beyond Soft & Cozy
    </h1>
    <p>
      Our exclusive Viscose from Bamboo textured knit takes soft & cozy to a whole new level. Casual yet sophisticated, our throw is perfect for wrapping up, snuggling up, & staying warm while adding style to any room. 
      You may just have to buy more than one because everyone in your family will want a blanket of their own. 
    </p>
  </div>
</div>

{% elsif product.id == 4492419530813 %}{%comment%}layr-adjustable-pillow{%endcomment%}
<div class="innovation-layr-feature the-pillow">
  <div class="innovation-layr-left-text">
    <p class="sub-header-text">
      A SLEEP EXPERIENCE AS
    </p>
    <h1>
      Unique as You
    </h1>
    <p class="extra-margin-pillow">
      Adjust both the firmness and height of your pillow using our soft, medium, and firm inserts. 
      Once you find the configuration that works best, each insert can be independently adjusted for a perfect fit.
    </p>
    <p>
      <span class="layr-paragraph-bold">To customize your LAYR pillow</span>, simply mix and match the different inserts and fill levels to find what combination works best for you!
    </p>
  </div>
</div>

{% elsif product.id == 4405624864829 %}{%comment%}luxury-sheets 4405624864829{%endcomment%}

  <div class="thermal-regulating-sheets innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        NATURALLY
      </p>
      <h1>
        Thermal Regulating
      </h1>
      <p class="space-between-ps">
        Naturally moisture-wicking for a bed that perfectly breathes with you, mimicking your body's natural temperature regulation.
      </p>
      <p class="sub-header-text">
        PERFECTLY
      </p>
      <h1>
        Cooling
      </h1>
      <p>
        The best sheets for hot sleepers. Naturally breathable, eco-friendly, & luxuriously soft. Enjoy your coolest nights' sleep ever!
      </p>
    </div>
  </div>

{% elsif product.id == 6586143539261 %}{%comment%}light-weight-blanket 6586143539261 {%endcomment%}
  <div class="lightweight-blanket innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        WHAT DOES
      </p>
      <h1>
        Thermal Regulating
      </h1>
      <p class="sub-header-text">
        MEAN FOR YOUR SLEEP?
      </p>
      <p>
        Due to bamboo's natural plant-based fibers, it naturally absorbs (wicks away) moisture from your body. Since the fibers are hollow with micro gaps and holes, it breathes better and evaporates that moisture out of your bed far better than other bedding materials. 
        The result is a bed that breathes with you, mimicking your body's natural temperature regulation.
      </p>
    </div>
  </div>

{% elsif product.id == 6586143539261 %}{%comment%}plush-performance-towels 6586143539261 {%endcomment%}
<h1> test innovation.liquid </h1>
  {% render 'plush-performance-towels-features'%}
{% elsif product.id == 1482350919749 %}{%comment%}weighted-blanket-cover{%endcomment%}
  <div class="pure-weighted-luxury innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        PURE
      </p>
      <h1>
        Weighted Luxury
      </h1>
      <p>
       Our removable cover weighted blanket offers only the best. With a high thread count 100% cotton weighted insert, it’s not only extremely breathable, but extra durable. 
       The removable covers feature our luxury 195 GSM ultra-plush minky and our signature 300TC Lyocell from Bamboo for the most luxurious look and feel of any weighted blanket ever made.
      </p>
      <div class="sub-header-text">
        <a id="size-guide-modal-link-pt2" class="size-guide-link">
          <button>VIEW OUR SIZE CHART</button>
          {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt2" -%}
        </a>
      </div>
    </div>
  </div>
{% elsif product.id == 6890447896637 %}{%comment%}weighted-blanket-consolidation-page{%endcomment%}
  <div class="pure-weighted-luxury innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        PURE
      </p>
      <h1>
        Weighted Luxury
      </h1>
      <p>
        Designed to help you feel calmer and sleep better, our luxurious weighted blankets are made with top quality craftsmanship and attention to detail. We use the finest fabrics, featuring soft and cozy 195 GSM ultra-plush minky and a cooling 300TC Lyocell from Bamboo for the most luxurious look and feel of any weighted blanket ever made.
      </p>
      <div class="sub-header-text">
        <a id="size-guide-modal-link-pt2" class="size-guide-link">
          <button>VIEW OUR SIZE CHART</button>
          
        </a>
        {%- include 'modal-size-guide', modalId: "size-guide-modal-link-pt2" -%}
      </div>
    </div>
  </div>

{% elsif product.id == 2163188596805 %}{%comment%}removable-covers{%endcomment%}
  <div class="custom-comfort-cover innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        CUSTOM
      </p>
      <h1>
        Comfort
      </h1>
      <p>
       Enjoy all Luxome has to offer with our removable covers. With the ability to change covers, enjoy the versatility of your Luxome Weighted Blanket all year round! 
       Change things up for different seasons, rotate for cleaning, or simply refesh your room with a change of color!
      </p>
      <div class="sub-header-text">
      </div>
    </div>
  </div>
{% elsif product.id == 6824157577277 %}{%comment%} ClimaSense Comforter 6824157577277 {%endcomment%}
  <div class="climasense-comforter innovation-layr-feature">
    <div class="innovation-layr-left-text">
      <p class="sub-header-text">
        HOW DOES IT WORK?
      </p>
      <h1>
        37.5 Technology
      </h1>
      <p>
        Triggered by humidity, the ClimaSense™ Comforter, with 37.5® Technology, uses your body’s own energy to cool you down when you’re hot & 
        keep you warm when you’re cold –  helping to maintain your maximum personal comfort. 
        An unmatched approach to temperature regulation for bedding, 37.5 Technology is the same technology relied on by top performance apparel brands.
      </p>
    </div>
  </div>
{% elsif product.id == 6824646279229 %}{%comment%} Duvet Cover 6824646279229 {%endcomment%}
  <div class="outer-shell">
    <div class="sizeFull position-relative-vid">
      <div class="parent-video-div">  
        <div class="vimeo-container">
          <iframe id="duvet-vimeo-desktop" class="duvet-video" src="https://player.vimeo.com/video/737976708?h=6e8fefc562&title=0&byline=0&portrait=0&transparent=0&autoplay=1&muted=1&loop=1&autopause=0&controls=0" width="640" height="272" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <iframe id="duvet-vimeo-mobile" class="duvet-video" src="https://player.vimeo.com/video/737986672?h=daf38c82b0&title=0&byline=0&portrait=0&transparent=0&autoplay=1&muted=1&loop=1&autopause=0&controls=0" width="640" height="960" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="duvet-cover">
          <div class="innovation-layr-left-text">
            <p class="sub-header-text">
              PREMIUM
            </p>
            <h1>
              Custom Comfort
            </h1>
            <p class="duvet-bottom-margin">
              Elevate your sleep experience by wrapping your ClimaSense™ Comforter in a removable Duvet Cover. 
              Give your comforter a new look & fresh feel simply by changing covers. 
              Switch things up for different seasons, rotate for cleaning, or mix & match hues for a fast & easy style refresh. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      const setDuvetVideo = function(){
        if (window.innerWidth > 480){
        } else {
          let num = (6/8)*(window.innerWidth + 899)/1.851
          $('#duvet-vimeo-mobile').css({height: `${num}px`})
        }
      }
    setDuvetVideo()
    window.addEventListener('resize', setDuvetVideo)
  </script>
{% endif %}

<style>
  .one-piece-wonder-integrated.innovation-layr-feature{
    background-image:url('{{ 'IC-Desktop-2022.png' | asset_url}}');
  }
  .perfectly-cooling-weighted.innovation-layr-feature{
    background-image:url('{{ 'Cool-Desktop-2022.png' | asset_url}}');
  }
  .pure-weighted-luxury.innovation-layr-feature{
    background-image:url('{{ 'RC-Desktop-2022.png' | asset_url}}');
  }
  .custom-comfort-cover.innovation-layr-feature{
    background-image:url('{{ 'Covers-Desktop-2022.png' | asset_url}}');
    background-size: cover;
  }
  .thermal-regulating-sheets.innovation-layr-feature{
    background-image:url('{{ 'Sheets-Desktop-2022.png' | asset_url}}');
  }
  .lightweight-blanket.innovation-layr-feature{
    background-image:url('{{ 'LWB-Desktop-2022.png' | asset_url}}');
  }
  .the-pillow.innovation-layr-feature{
    background-image:url('{{ 'LAYR-Desktop-2022.png' | asset_url}}');
  }
  .ultra-plush-throw.innovation-layr-feature{
    background-image:url('{{ 'UPT-Desktop-2022.png' | asset_url}}');
  }
  .climasense-comforter.innovation-layr-feature{
    background-image:url('{{ 'CSC-Desktop-2022.png' | asset_url}}');
  }
  .outer-shell{
    z-index: 0;
    overflow: hidden;
    width: 100vw;
  }
  .vimeo-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
  }
  .duvet-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .duvet-video iframe{
    object-fit:cover;
  }
  .parent-video-div{
    background-color: transparent;
    width: 100%;
    overflow: hidden;
  }

  .position-relative-vid {
    position: relative;
    height: 42vw;
  }

  .vp-title.Title_module_title__61b4d8cc{
    display:none;
  }

  #duvet-vimeo-mobile{
    display:none;
  }
  .duvet-cover{
    top: 10px;
    pointer-events: auto;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 55%;
  }
  .sub-header-text button{
    color: white;
    padding-top: 30px;
    font-weight:400;
  }
  .innovation-layr-feature{
    width: 100vw;
    min-height: 44vw;
    background-size: cover;
    background-position: 0 0;
    background-position-x: right;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 35% 55%;
    padding:0 2em;

  }
  .layr-paragraph-bold{
    font-weight:600;
  }
  .innovation-layr-left-text .extra-margin-pillow{
    margin-bottom:60px;
  }
  .thermal-regulating-sheets.innovation-layr-feature h1{
    margin-bottom:5px;
  }
  .thermal-regulating-sheets.innovation-layr-feature .innovation-layr-left-text .space-between-ps {
    margin-bottom:4vh;
  }
  .innovation-layr-left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    color:white;
    text-align:center;
  }
  .product-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    color:white;
    text-align:center;
  }
  .innovation-layr-left-text .sub-header-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size:1.2em;
  }

  .innovation-layr-left-text p{
    margin-bottom: 5px;
    font-weight:300;
    text-align:center;
    font-family: 'Work Sans', sans-serif;
  }
  @media only screen and (min-width:320px) and (max-width: 480px) {
    .innovation-layr-feature .innovation-layr-left-text{
      margin-bottom: 10px;
      padding: 0 1em;
    }
    .thermal-regulating-sheets.innovation-layr-feature h1{
      font-size: 1.7em;
    }
    .thermal-regulating-sheets.innovation-layr-feature .innovation-layr-left-text .space-between-ps{
      margin-bottom: 15px;
    }
    .innovation-layr-left-text .sub-header-text{
     line-height:1;
    }

  }

  @media only screen and (max-width: 680px) {
    .innovation-layr-feature {
      background-size: cover;
      align-items: center;
      display: flex;
      flex-direction: column;
      min-height: 588px;
      justify-content: flex-end;
    }
    .one-piece-wonder-integrated.innovation-layr-feature{
      background-image:url('{{ 'Cool-Mobile-2022.png' | asset_url}}');
    }
    .perfectly-cooling-weighted.innovation-layr-feature{
      background-image:url('{{ 'Cool-Mobile-2022.png' | asset_url}}');
    }
    .pure-weighted-luxury.innovation-layr-feature{
      background-image:url('{{ 'RC-Mobile-2022.png' | asset_url}}');
    }
    .custom-comfort-cover.innovation-layr-feature{
      background-image:url('{{ 'Covers-Mobile-2022.png' | asset_url}}');
    }
    .thermal-regulating-sheets.innovation-layr-feature{
      background-image:url('{{ 'Sheets-Mobile-2022.png' | asset_url}}');
    }
    .lightweight-blanket.innovation-layr-feature{
      background-image:url('{{ 'LWB-Mobile-2022.png' | asset_url}}');
    }
    .the-pillow.innovation-layr-feature{
      background-image:url('{{ 'LAYR-Mobile-2022.png' | asset_url}}');
    }
    .ultra-plush-throw.innovation-layr-feature{
      background-image:url('{{ 'UPT-Mobile-2022.png' | asset_url}}');
    }
    .climasense-comforter.innovation-layr-feature{
      background-image:url('{{ 'CSC-Mobile-2022.png' | asset_url}}');
    }
    .sub-header-text{
      margin-bottom:5px;
    }
    #duvet-vimeo-desktop {
      display: none;
    }
    #duvet-vimeo-mobile{
      display: block;
    }
    .outer-shell {
      width: 86vw;
      margin: 0 auto;
    }
    .position-relative-vid{
      height: 68vh;
    }
    .duvet-cover{
      display: flex;
      align-items: end;
    }
  }
  @media only screen and (max-width: 1200px) {
    .innovation-layr-left-text{
      padding: 0 2em;
      margin-bottom: 30px;
    }
    .innovation-layr-left-text p{
      font-size:.9em;
      margin-bottom: 5px;
    }
    .innovation-layr-left-text h1{
      font-size:2em;
    }

  }

</style>
