{% if product.id == 2140387999813 or product.id == 1482400661573 or product.id == 1482350919749 or product.id == 6890447896637 %}
  {%comment%}cooling-weighted-blankets OR integrated weighted-blanket OR weighted-blanket-consolidation-page{%endcomment%}
  <div class="innovation-bottom">
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'no-bunching.png' | asset_img_url: '400x' }}" alt="Imm Glass Beads">
      <h4>No Bunching</h4>
      <p>Engineered to eliminate weight bunching in the blanket as well as the blanket bunching within the cover for evenly dispersed weight, every time.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'less-heat.png' | asset_img_url: '400x' }}" alt="100% Percal Cotton Blanket">
      <h4>Less Heat</h4>
      <p>By using fewer, higher quality layers such as cooling lyocell from bamboo, our blankets are designed to reduce excessive heat.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'machine-washable.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
      <h4>Machine Washable</h4>
      <p>Quality craftsmanship and high thread count fabrics result in a durable blanket that is 100% machine washable.</p>
    </div>
  </div>
  <div>
    <div class='grid-layr-pillow'>
      <div class="home-collection-3 cover58">
        <div class='image-cover'>
          <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Bamboo-Lyocell.png' | asset_url }}">
          </div>
        </div>
        <div class="product-cover">
          <p>COOLING</p>
          <h2>Bamboo Lyocell</h2>
          <p>Feels like a mix between premium cotton and silk and is cooling, moisture-wicking, thermal-regulating, hypoallergenic, eco-friendly, and ultra soft. We only use luxury 300TC lyocell from bamboo which is softer than 1,000TC cotton. 
          Lyocell from bamboo is organic, does not use any harsh chemicals, and is environmentally friendly.</p>
        </div>
      </div>
      <div class="home-collection-3 cover58 time-to-lounge">
        <div class="product-cover">
          <p>SOFT & COZY</p>
          <h2>Minky</h2>
          <p>Soft and super cozy. It's the same fabric type as fleece, microfiber, and flannel, and is the warmest of our fabric options. 
          We only use premium 195 gsm minky, which is far superior to the other brands with it's soft & velvety feel.</p>
          <button id="myBtnCompare">COMPARE OTHER FABRICS</button>
        </div>
        <div class='image-cover'>
          <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Minky.png' | asset_url }}">
          </div>
        </div>
      </div>
    </div>
    <div class="innovation-bottom extra-margin">
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Glass_Beads.png' | asset_img_url: '400x' }}" alt="Imm Glass Beads">
        <h4>1mm Glass Beads</h4>
        <p>Our glass beads that provide the weight are naturally hypoallergenic, certified lead-free, and so small they are barely noticeable (<1mm).
        </p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Fabric_Details.png' | asset_img_url: '400x' }}" alt="100% Percal Cotton Blanket">
        <h4>Quality Fabrics</h4>
        <p>Our weighted blankets are made with high thread count fabrics for maximum durability and breathability.</p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Luxome-Tote.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
        <h4>Luxury Carrying Tote</h4>
        <p>All of our weighted blankets come pre-assembled and include a luxury oxford carrying tote for storage and transport.</p>
      </div>
    </div>

  <!-- The Modal -->
  <div id="myModalCompare" class="modal-compare">
    <!-- Modal content -->
    <div class="modal-content-compare">
      <span class="close-compare">X</span>
      <img class="lazyload" data-src="{{ 'Minky-Fabric Comparison.png' | asset_img_url: '400x' }}" alt="Minky Fabric Comparison">
    </div>
  </div>
{% elsif product.id == 6586143539261 %}{%comment%}Lightweight Blanket 6586143539261{%endcomment%}
<div>
    <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58">
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'LWB_Viscose.png' | asset_url }}">
        </div>
      </div>
      <div class="product-cover">
        <p>NO POLYESTER</p>
        <h2>100% Viscose</h2>
        <h2>from Bamboo</h2>
        <p>The naturally thermal-regulating viscose from bamboo fabric and fill is cooling for hot sleepers, while providing adequate warmth on chilly nights.</p>
      </div>
    </div>
    <div class="home-collection-3 cover58 time-to-lounge">
      <div class="product-cover">
        <p>HIGH THREAD COUNT</p>
        <h2>Soft & Luxurious</h2>
        <p>This sensationally soft & breathable quilted blanket will keep you comfortable all year around.</p>
      </div>
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'LWB_Luxurious.png' | asset_url }}">
        </div>
      </div>
    </div>
    <div class="innovation-bottom extra-margin">
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Sateen-Weave-BB.png' | asset_img_url: '400x' }}" alt="Sateen Weave">
        <h4>Sateen Weave</h4>
        <p>Our silky sateen weave combined with our diamond stitch pattern creates the most luxurious blanket ever.</p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'machine-washable-lw-bb.png' | asset_img_url: '400x' }}" alt="Machine Washable">
        <h4>Machine Washable</h4>
        <p>Quality craftsmanship and high thread count fabrics result in a durable blanket that is 100% machine washable.</p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Oversized-Design-BB.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
        <h4>Oversized Design</h4>
        <p>Our design allows for natural shrinkage after wash as well as draping / tucking over deep-pocket mattresses for versatile use.</p>
      </div>
    </div>
  </div>
{% elsif product.id == 6789635113021 %}{%comment%}Ultra Plush Throw 6789635113021{%endcomment%}
<div>
  <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58">
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'UPT_Sharing.png' | asset_url }}">
        </div>
      </div>
      <div class="product-cover">
        <p>EXTRA LARGE</p>
        <h2>Sharing is Caring</h2>
        <p>Our generously sized XL throw blanket provides more than enough coverage for you & a few friends, or your whole family, pets included!</p>
      </div>
    </div>
    <div class="home-collection-3 cover58 time-to-lounge">
      <div class="product-cover">
        <p>9 BREATHTAKING HUES</p>
        <h2>Stylish & Versatile</h2>
        <p>Add texture & color to any room with this modern-day classic. Our array of colors allow for easy mixing and matching with any style decor.</p>
      </div>
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'UPT_Versatile.png' | asset_url }}">
        </div>
      </div>
    </div>
    <div class="innovation-bottom extra-margin">
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Detail-Throw.png' | asset_img_url: '400x' }}" alt="Detail-Throw">
        <h4>Textured Rib Knit</h4>
        <p>The simple knit design creates an extra cozy accessory, perfect for draping over a chair, sofa, or bed.</p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'machine-washable-lw-bb.png' | asset_img_url: '400x' }}" alt="Machine Washable">
        <h4>Long-Lasting Comfort</h4>
        <p>We use the finest fabrics & exceptional craftsmanship to ensure that our products will stay luxuriously soft wash after wash.</p>
      </div>
      <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Packaging-Throw.png' | asset_img_url: '400x' }}" alt="Packaging-Throw">
        <h4>The Perfect Gift</h4>
        <p>Whether enjoying yourself or giving as a gift, our products make the perfect presentation.</p>
      </div>
    </div>
  </div>
{% elsif product.id == 6824157577277 %}{%comment%}ClimaSense Comforter 6824157577277{%endcomment%}
<div>
  <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58">
      <div class='image-cover'>
        <div class="collection-products-image-all-index-0 lazyload">
          <div class="neg-bottom-margin">
            <iframe id="climasense-iframe" width="1500" height="720" src="https://player.vimeo.com/video/737990476?h=3f8e43c08b&title=0&byline=0&portrait=0&transparent=0&autoplay=1&muted=1&loop=1&autopause=0&controls=0" frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="ClimaSense Comforter"></iframe>        
          </div>
        </div>
    </div>
  <script>
    const setClimaSenseVideo = function(){
        if (window.innerWidth > 480){
          let num = (5/8)*(window.innerWidth - 98)/1.77
          $('#climasense-iframe').css({height: `${num}px`})
        } else {
          let num = (5/8)*(window.innerWidth + 164)/1.77
          $('#climasense-iframe').css({height: `${num}px`})
        }
      }
    setClimaSenseVideo()
    window.addEventListener('resize', setClimaSenseVideo)
  </script>
    <div class="product-cover bottom-margin-vid">
      <p>PERFECTLY</p>
      <h2>Thick & Fluffy</h2>
      <p>Baffle Box design offers 2x the breathability & airflow of other temperature-regulating comforters for an extra fluffy, plush look without the added warmth.</p>
    </div>
  </div>
  <div class="home-collection-3 cover58 time-to-lounge">
    <div class="product-cover">
      <p>NATURALLY</p>
      <h2>Skin-Friendly</h2>
      <p>37.5 Technology is derived from naturally occurring volcanic minerals, is chemical-free, & passes the rigid European standard for certification as “skin-friendly”.</p>
    </div>
    <div class='image-cover'>
      <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'SkinFriendly.png' | asset_url }}">
      </div>
    </div>
  </div>
  <div class="innovation-bottom extra-margin">
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'BaffleBox.png' | asset_img_url: '400x' }}" alt="Detail-Throw">
      <h4>Baffle Box Design</h4>
      <p>This classic three-dimensional box construction mimics the fluffiness of luxury down, evenly distributing fill for an extra lofty look and feel.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Sized.png' | asset_img_url: '400x' }}" alt="Machine Washable">
      <h4>Generously Sized</h4>
      <p>Oversized design ensures full coverage over deep-pocket mattresses for the perfect drape.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <a href="/products/duvet-cover?variant=40040987557949">
        <img class="lazyload" data-src="{{ 'Duvet.png' | asset_img_url: '400x' }}" alt="Packaging-Throw">
      <a href="/products/duvet-cover?variant=40040987557949"><h4>Stylish Duvet Covers</h4></a>
      <p>Give your comforter an extra silky-soft feel or even more cooling power with our stylish Duvet Covers. Includes 2x the cover ties to prevent shifting & bunching.</p>
    </div>
  </div>
</div>
{% elsif product.id == 6824646279229 %}{%comment%}Duvet Cover 6824646279229{%endcomment%}
  <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58 duvet-cover-padding">
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload duvet-cover-365-image" data-bgset="{{ 'Duvet-Cooling.png' | asset_url }}">
        </div>
      </div>
      <div class="product-cover">
        <h2 class="no-bottom-margin">Cotton Duvet Cover</h2>
        <p class="extra-bottom-margin">WITH 37.5® TECHNOLOGY</p>
        <p>Enhance the temperature-regulating effect of your ClimaSense Comforter! The more you layer with 37.5 Technology, the better it works. Triggered by humidity, 37.5 Technology uses your body’s own energy to cool you down when you’re hot & keep you warm when you’re cold. This is the perfect cover if you are looking for a thicker, crisper fabric & feel.</p>
      </div>
    </div>
    <div class="home-collection-3 cover58 time-to-lounge">
      <div class="product-cover">
        <p>BAMBOO VISCOSE</p>
        <h2>Duvet Cover</h2>
        <p>If you love the silky-soft feel of our Luxury Sheet Set, you’ll love this duvet cover made from 100% viscose from bamboo. Woven for supreme softness & extreme durability, this cover looks as amazing as it feels. Available in 5 gorgeous hues and match our sheets perfectly. </p>
      </div>
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Duvet-Luxury.png' | asset_url }}">
        </div>
      </div>
    </div>
  </div>
  <div class="innovation-bottom extra-margin">
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Duvet-Details.png' | asset_img_url: '400x' }}" alt="Special Duvet Details">
      <h4>Special Details </h4>
      <p>Duvet Covers include 8 cover ties – at all 4 corners & sides – to prevent shifting & bunching. Plus a sophisticated envelope button closure to ensure a clean, finished look. </p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Duvet-Style.png' | asset_img_url: '400x' }}" alt="Sophisticated Style">
      <h4>Sophisticated Style </h4>
      <p>A seamless blend of comfort & design, our breathtaking Duvet Covers will add flair & beauty to any bedroom. Available in an array of colors for every style & season. </p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Duvet-Packaging.png' | asset_img_url: '400x' }}" alt="Luxurious Duvet Packaging">
      <h4>Premium Packaging</h4>
      <p>Our Duvet Covers all come with a fabric carrying bag that can be used for easy storage and is great for gifting.</p>
    </div>
  </div>
{% elsif product.id == 4405624864829 %}{%comment%}luxury-sheets 4405624864829{%endcomment%}
  <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58">
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'SustainablyMade.png' | asset_url }}">
        </div>
      </div>
      <div class="product-cover">
        <p>VISCOSE FROM BAMBOO</p>
        <h2>Sustainably Made</h2>
        <p>The bamboo plant is cultivated without chemicals or pesticides. It is also the fastest-growing plant on earth, which makes it super sustainable due to its natural renewing properties.</p>
      </div>
    </div>
    <div class="home-collection-3 cover58 time-to-lounge">
      <div class="product-cover">
        <p>PROVEN & LASTING</p>
        <h2>Quality</h2>
        <p>400TC is the highest thread count of any bamboo viscose sheets ever made (and softer than 1,000TC Egyptian Cotton). Our fabric is woven for luxurious softness and extreme durability.</p>
      </div>
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Quality.png' | asset_url }}">
        </div>
      </div>
    </div>
  </div>
  <div class="innovation-bottom extra-margin">
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Sateen-Weave.png' | asset_img_url: '400x' }}" alt="Imm Glass Beads">
      <h4>Sateen Weave</h4>
      <p>Our luxurious sateen weave combined with our high-end viscose from bamboo creates the softest sheets you've ever experienced.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Deep-Pockets.png' | asset_img_url: '400x' }}" alt="100% Percal Cotton Blanket">
      <h4>Deep 17" Pockets</h4>
      <p>Ensures that they fit every bed even with additional mattress covers or toppers.</p>
    </div>
    <div class="innovation-flex-item material-options-item">
      <img class="lazyload" data-src="{{ 'Packaging.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
      <h4>Premium Packaging</h4>
      <p>Our luxurious viscose from bamboo sheets all come with a free carrying bag that can be used for easy storage and is great for gifting.</p>
    </div>
  </div>

{% elsif product.id == 4492419530813 %}{%comment%}layr-adjustable-pillow{%endcomment%}
  <div class='grid-layr-pillow'>
    <div class="home-collection-3 cover58">
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'CoolSleep.png' | asset_url }}">
        </div>
      </div>
      <div class="product-cover">
        <p>CALMING</p>
        <h2>Cool Sleep</h2>
        <p>LAYR includes several cooling features to make sure you never need to flip your pillow to the cool side again:</p>
        <div class="layr-pillow-cool-sleep">
          <p><span>COOLING COVER </span><br class="break-mobile"/>made from thermal-regulating bamboo viscose</p>
          <p><span>GEL-INFUSED MEMORY FOAM </span><br class="break-mobile"/>for heat-cycling</p>
          <p><span>AIRFLOW </span><br class="break-mobile"/>optimized to allow heat to easily escape</p>
          <p><span>100% COTTON INSERT COVERS </span><br class="break-mobile"/>for breathability</p>
        </div>
      </div>
    </div>
    <div class="home-collection-3 cover58 time-to-lounge">
      <div class="product-cover">
        <p>QUALITY</p>
        <h2>Memory Foam</h2>
        <p>We didn't take any shortcuts on the quality of our materials. All of our memory foam is CertiPUR-US® certified with low VOCs and no harmful substances. Our shredded foam comes from our CertiPUR-US® solid pieces, not scraps from other products.</p>
      </div>
      <div class='image-cover'>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload LAYRdesktop-only" data-bgset="{{ 'MemoryFoam.png' | asset_url }}">
        </div>
        <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload LAYRmobile-only" data-bgset="{{ 'MemoryFoam-Mobile.png' | asset_url }}">
        </div>
      </div>
    </div>
  </div>

  {% include 'product-perfectly-packaged' %}

  <div class="learn-more-section">
    <div class='image-cover'>
      <div class="vimeo-video-div">
      	<iframe id="layr-vid-dt" class="lazyload" data-src="https://player.vimeo.com/video/440506296?title=0&byline=0&portrait=0" width="1500" height="720" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <div class="vimeo-video-div mobile">
      	<iframe class="lazyload" data-src="https://player.vimeo.com/video/440506296?title=0&byline=0&portrait=0" width="520" height="280" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
    </div>
    <div class="product-cover">
      <p>WANT TO</p>
      <h2>Learn More?</h2>
      <p>Watch this quick one-minute video walkthrough of our LAYR Pillow and how to adjust the inserts to find your perfect combination.</p>
    </div>
  </div>
  <script>
    const setVideo = function(){
      let num = (5/8)*(window.innerWidth - 105)/1.77
      $('#layr-vid-dt').css({height: `${num}px`})
      }
    setVideo()
    window.addEventListener('resize', setVideo)
  </script>
{% endif %}

<script>
  let luxBamboo = document.querySelector(".luxury-bamboo")
  let pluMinky = document.querySelector(".plush-minky")
  
  if(luxBamboo && pluMinky) {
    luxBamboo.addEventListener("click", function(){
      if (screen.width > 767) {
        $(".bamboo-background").show()
        $(".minky-background").hide()
        $(luxBamboo).addClass("material-selected")
        $(pluMinky).removeClass("material-selected")
      }
    })
    pluMinky.addEventListener("click", function(){
      if (screen.width > 767) {
        $(".bamboo-background").hide()
        $(".minky-background").show()
        $(luxBamboo).removeClass("material-selected")
        $(pluMinky).addClass("material-selected")
      }
    })
  }
  
  let leftFeat = document.querySelector(".left-feat")
  let rightFeat = document.querySelector(".right-feat")
  
  if(leftFeat && rightFeat) {
    leftFeat.addEventListener("click", function(){
      if (screen.width > 767) {
        document.querySelector(".layr-material-cover").style.display = "block";
        document.querySelector(".layr-material-cover-2").style.display = "none";
        $(leftFeat).addClass("material-selected")
        document.querySelector(".left-feat .caret-down").innerText = '^'
        document.querySelector(".left-feat .caret-down").classList.remove('hyphen')
        $(rightFeat).removeClass("material-selected")
        document.querySelector(".right-feat .caret-down").innerText = '-'
        document.querySelector(".right-feat .caret-down").classList.add('hyphen')
      }
    })
    rightFeat.addEventListener("click", function(){
      if (screen.width > 767) {
        document.querySelector(".layr-material-cover").style.display = "none";
        document.querySelector(".layr-material-cover-2").style.display = "block";
        $(leftFeat).removeClass("material-selected")
        document.querySelector(".left-feat .caret-down").innerText = '-'
        document.querySelector(".left-feat .caret-down").classList.add('hyphen')
        $(rightFeat).addClass("material-selected")
        document.querySelector(".right-feat .caret-down").innerText = '^'
        document.querySelector(".right-feat  .caret-down").classList.remove('hyphen')
      }
    })
  }
  
  // MODAL COMPARE
  // Get the modal
  var modalCompare = document.getElementById("myModalCompare");

  // Get the button that opens the modal
  var btnCompare = document.getElementById("myBtnCompare");

  // Get the <span> element that closes the modal
  var spanCompare = document.getElementsByClassName("close-compare")[0];

  // When the user clicks the button, open the modal 
  if(btnCompare) {
    btnCompare.onclick = function() {
      modalCompare.style.display = "block";
    }
  }
  // When the user clicks on <span> (x), close the modal
  if(spanCompare) {
    spanCompare.onclick = function() {
      modalCompare.style.display = "none";
    }
  }

  // When the user clicks anywhere outside of the modal, close it
  window.addEventListener("click", function(event) {
    if (event.target == modalCompare) {
      modalCompare.style.display = "none";
    }
  })
  
</script>
<style>
#myBtnCompare{
  background: white;
  color: black;
  padding: 10px 15px;
  margin-top: 13px;
}
</style>