{% if product.id == 2140387999813 %}{%comment%}cooling-weighted-blankets{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">Living in Florida with the heat it's hard to have the weight on the bed without
        being way too hot, but this blanket changed all that! My husband bought this and the first night we had it we
        both slept better than we have in a long time!! 
        <span class="product-review-name">- Jane F.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 1482400661573 %}{%comment%}weighted-blanket-integrated{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">You need this blanket! The weight of the blanket is exactly what was to be
        expected - not too heavy and not too light. It's a high quality blanket - soft, and the entire thing can be
        washed and dried! 
        <span class="product-review-name">- Teryn B.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 6789635113021 %}{%comment%}ultra-plush-throw{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">I love my new blanket! It’s soft and warm without being heavy. 
      It looks great at the foot of my bed, but I end up bringing it with me all over the house. 
      Love to use it when I’m reading on the couch.
        <span class="product-review-name">- Jackie H.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 6824157577277 %}{%comment%}ClimaSense Comforter{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">This comforter is incredible! 
    I can’t believe how fluffy and thick it is – and we don’t wake up sweating at night. 
    Absolutely amazing and looks gorgeous on our bed.
        <span class="product-review-name">- Lance J.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 4492419530813 %}{%comment%}layr-adjustable-pillow{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">I LOVE this pillow. After trying so many others (MyPillow, Casper, Therapeudic,
        etc.) this is by far the best one! Took me about 3 days to get it just right for me, but since then I’ve been
        sleeping so well and not waking up with neck/back pain anymore. Would definitely recommend. 
        <span class="product-review-name">- Bianca R.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 4405624864829 %}{%comment%}luxury-sheets 4405624864829{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">I have sheets from all the most loved brands. 
      Cariloha, Brooklinen, Boll & Branch, and others...I will never order another brand again. 
      Luxome is, by far, the best of the best. 
      These are the most comfortable, best looking, best right-out-of-the-wash sheets on earth. 
      I’m a customer from here on out!! 
        <span class="product-review-name">- Aimee D.</span>
    </h3>
    <button id="yotpo-review-all-button-id" onclick="scrollToReview" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>
{% elsif product.id == 6586143539261 %}{%comment%}light-weight-sheets 6586143539261{%endcomment%}
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p"> I absolutely love our bamboo blanket - it’s the softest blanket I’ve ever had!
      I love that I can get better sleep with it than with my comforter. It's lightweight and keeps me cool all night.
      <span class="product-review-name">- Hilda D.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>

{% elsif product.id == 6669003915325 %}{%comment%}Spa-Collection-Towels 6669003915325{%endcomment%}
<!-- product SPA COLLECTION TOWELS -->
<div class="plush-performance-bamboo-container spa-collection" aria-background="towels desktop">
  <div class="performance-regulating-bamboo">
    <h1 class="performance-bamboo-title">
      Is Bamboo Right For Me?
    </h1>
    <p class="performance-bamboo-content">
      THE SOFTEST TOWELS EVER! 
    </p>
    <img src="{{ 'Performance-Chart-SC.png' | asset_url}}" alt="performance" class="performance-icon">
    <div class="something-different">
      <p>Looking for something a little different?</p>
      <a class="" href="https://luxome.com/products/plush-performance-towels">
        <button>SHOP PLUSH PERFORMANCE</button>
      </a>
    </div>
  </div>
</div>
<!-- product review -->
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">The softest towels ever! I can’t believe how incredibly soft and absorbent these are.
        Will never use another towel again!
        <span class="product-review-name">- Jessie B.</span>
    </h3>
    <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>
<div class="dual-loop-img-bamboo">
  <img src="//cdn.shopify.com/s/files/1/0026/5178/3237/t/65/assets/Dual-Loop-Towel.png?v=1637598828" alt="dual-loop" class="performance-img-mobile">
</div>

<!-- PRODUCT PERFORMANCE MEETS  -->
<div class='grid-layr-pillow'>
  <div class="home-collection-3 cover58">
    <div class='image-cover'>
      <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Spa-EveryDay.png' | asset_url }}">
      </div>
    </div>
    <div class="product-cover pp-towels">
      <p>GET READY FOR</p>
      <h2>Spa day. Every day.</h2>
      <p>Make every day a little more luxurious and transform your bathroom routine into a spa-like experience. Let the pampering begin! </p>
    </div>
  </div>
  <div class="home-collection-3 cover58 time-to-lounge">
    <div class="product-cover pp-towels">
      <p>ULTRA ABSORBENT</p>
      <h2>Viscose from Bamboo</h2>
      <p>If you're looking for an ultra-soft and abosrbent towel made with silky bamboo viscose, this is the one for you!</p>
    </div>
    <div class='image-cover'>
      <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'SC-Towel-Closeup.png' | asset_url }}">
      </div>
    </div>
  </div>
</div>

<div class="innovation-bottom extra-margin" style="margin-bottom:0;">
  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Towel-Packaging.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
    <h4>Perfectly Packaged</h4>
    <p class="">Whether enjoying yourself or giving as a gift, our products make the perfect presentation.</p>
  </div>
  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Easy-Care.png' | asset_img_url: '400x' }}"
        alt="100% Percal Cotton Blanket">
    <h4>Easy Care </h4>
    <p class="">Follow our standard washing instructions to enjoy towels that will remain soft and plush for hundreds of washings! </p>
  </div>
  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Oversized-Bath-Sheet-SC.png' | asset_img_url: '400x' }}" alt="Imm Glass Beads">
    <h4>Oversized Bath Sheet</h4>
    <p class="">Our oversized bath sheet provides 50% more coverage than a standard bath towel.</p>
  </div>
</div>

{{ 'towel.css' | asset_url | stylesheet_tag }}
{% elsif product.id == 6727710900285 %}{%comment%}Plush-Performance-Robe 6727710900285{%endcomment%}
<!-- product ROBE -->
<div class="plush-performance-robe-container" aria-background="sizing desktop">
  <div class="performance-regulating-robe">
    <p class="best-words-robe">
        DESIGNED
    </p>
    <h1 class="fit-robe-content">
        For the Best Fit
    </h1>
    <ul id="model-list"> <p class="robe-list-header">From left to right:</p>
      <li class="robe-list">Model is 5'3 and wearing a size small</li>
      <li class="robe-list">Model is 5'8 and wearing a size medium</li>
      <li class="robe-list">Model is 6'3 and wearing a size extra large</li>
    </ul>
    <div class="link-to-size-chart" style="cursor: pointer;">
      <p>VIEW OUR SIZE CHART</p>
    </div>
  </div>
</div>

<!-- ROBE product review -->
<div class="product-review-div">
  <div class="all-products-flex-review">
    <h3 class="product-review-yotpo-p">
      This is the coziest robe ever! I absolutely love snuggling up with it while enjoying my morning coffee. 
      You guys thought of all the details - thank you!
      <span class="product-review-name">- Tandy A.</span>
    </h3>
    <button id="yotpo-review-all-button-id" onclick="scrollToReview" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
  </div>
</div>
<div class="dual-loop-img-bamboo">
  <img class="performance-img-mobile" src="{{ 'EveryLittleDetail.png' | asset_img_url: '400x' }}" alt="Every Little Detail">
</div>

<!-- product LOOP ROBE -->
<div class="dual-loop-robe-container" aria-background="dual loop robe container ">
  <div class="dual-loop-img-bamboo">
    <img class="performance-img" src="{{ 'EveryLittleDetail.png' | asset_img_url: '1800x' }}" alt="Every Little Detail">
  </div>  
  <div class="loop-performance-regulating-bamboo robe-section">
    <div class="performance-inline-words">
      <p class="best-words-robe">
        WE THOUGHT OF
      </p>
      <h1 class="fit-robe-content">
        Every Little Detail
      </h1>
    </div>
    <p class="performance-meet-content">
      for your ultimate comfort, we made sure 
    </p>
    <p class="performance-meet-content">
      to include a few extras like
    </p>
    <p class="performance-meet-content robe-list-header">
      Dual Belt Loops & an Inner Modesty Loop
    </p>
    <p class="performance-meet-content">
      for a more customized fit.
    </p>
  </div>
</div>

<div class="innovation-bottom extra-margin" style="margin-bottom:0;">

    <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Robe-Coziness.png' | asset_img_url: '400x' }}" alt="Robe Coziness">
        <h4>Supreme Coziness</h4>
        <p class="">The Bamboo Viscose provides an ultra soft (with a touch of silky) feel. Perfect for chilly mornings or cozy evenings!</p>
    </div>

    <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Robe-Comfort.png' | asset_img_url: '400x' }}"
            alt="Robe Comfort">
        <h4>His + Her Comfort</h4>
        <p class="">Carefully crafted and designed for all shapes and sizes. This unisex robe is made for all!</p>
    </div>

    <div class="innovation-flex-item material-options-item">
        <img class="lazyload" data-src="{{ 'Robe-Packaging.png' | asset_img_url: '400x' }}" alt="Luxury Robe">
        <h4>Perfectly Packaged</h4>
        <p class="">Whether enjoying yourself or giving as a gift, our products make the perfect presentation.</p>
    </div>
</div>

{{ 'towel.css' | asset_url | stylesheet_tag }}
{{ 'robe.css' | asset_url | stylesheet_tag }}

{% elsif product.id == 6640736469053 %}{%comment%}Plush-Performance-Towels 6640736469053{%endcomment%}
<!-- product PLUSH PERFORMANCE -->
<div class="plush-performance-bamboo-container pp-font" aria-background="towels desktop">
    <div class="performance-regulating-bamboo">
        <h1 class="performance-bamboo-title">
            Is Plush Performance Right For Me?
        </h1>

        <p class="performance-bamboo-content">
            PERFORMANCE MEETS LUXURY
        </p>
        <img src="{{ 'Performance-Chart-PP.png' | asset_url}}" alt="performance" class="performance-icon">
        <div class="something-different">
          
          <p>Looking for something a little different?</p>
          <a class="" href="https://luxome.com/products/spa-collection-towels">
            <button>SHOP SPA COLLECTION</button>
        </a>
        </div>
    </div>
</div>
<!-- product review -->
<div class="product-review-div">
    <div class="all-products-flex-review">
      <h3 class="product-review-yotpo-p">
        WOW! No more musty & damp towels! These are super soft and are amazingly fast at drying. Definitely will purchase more for guests.
        <span class="product-review-name">- Alyssa R.</span>
      </h3>
      <button id="yotpo-review-all-button-id" onclick="scrollToReview" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
    </div>
</div>
<div class="dual-loop-img-bamboo">
    <img src="//cdn.shopify.com/s/files/1/0026/5178/3237/t/65/assets/Dual-Loop-Towel.png?v=1637598828" alt="dual-loop"
        class="performance-img-mobile">
</div>
<!-- product LOOP TOWEL -->
<div class='grid-layr-pillow'>
  <div class="home-collection-3 cover58">
    <div class='image-cover'>
      <div class="collection-products-image-all-index-0 lazyload">
        <div style="" class="neg-bottom-margin wide-div">
          <iframe id="pp-towel-iframe" width="1500" height="720" src=" https://player.vimeo.com/video/644808032?h=19f1f41f51?title=0&byline=0&portrait=0&transparent=0&autoplay=1&muted=1&loop=1&autopause=0&controls=0" f
          rameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen  title="Plush Performance Towels - Landing Page #2"></iframe>
        </div>
      </div>
    </div>
      <script>
    const setPpVideo = function(){
        if (window.innerWidth > 480){
          let num = (5/8)*(window.innerWidth - 98)/1.77
          $('#pp-towel-iframe').css({height: `${num}px`})
        } else {
          let num = (5/8)*(window.innerWidth + 164)/1.77
          $('#pp-towel-iframe').css({height: `${num}px`})
        }
      }
    setPpVideo()
    window.addEventListener('resize', setPpVideo)
  </script>
    <div class="product-cover pp-towels bottom-margin-vid">
      <p>THE BEST OF BOTH WORLDS</p>
      <h2>Performance Meets Luxury</h2>
      <p>Who knew there was a towel that could do everything?</p>
    </div>
  </div>
  <div class="home-collection-3 cover58 time-to-lounge">
    <div class="product-cover pp-towels">
      <p>HOW DOES IT WORK?</p>
      <h2>Dual Loop Technology</h2>
      <p>Outer cotton loop</p>
      <p class="dual-loop-plus">+</p>
      <p>inner microfiber loop</p>
      <hr class="inner-line">
      <p>unmatched performance</p>
    </div>
    <div class='image-cover'>
      <div class="collection-product-home-cover collection-products-image-all-index-0 lazyload" data-bgset="{{ 'Dual-Loop-Towel.png' | asset_url }}">
      </div>
    </div>
  </div>
</div>

<div class="pp-dual-loop-section">
  <img class="lazyload" data-src="{{ 'Dual-Loop-Icons.png' | asset_img_url: '400x' }}" alt="Dual Loop Icons">
  <ol>
    <li>Water is absorbed into the outer cotton loop.</li>
    <li>The intelligent inner loop quickly absorbs the water.</li>
    <li>The outer cotton loop stays soft and dries quickly.</li>
    <li>The intelligent inner loop quickly evaporates the water.</li>
  </ol>
  <div class="pp-mobile-only">
    <p>
      1. Water is absorbed into the outer cotton loop. <br/>
      2. The intelligent inner loop quickly absorbs the water.<br/>
      3. The outer cotton loop stays soft and dries quickly.<br/>
      4. The intelligent inner loop quickly evaporates the water.
    </p>
  </div>
</div>

<div class="innovation-bottom extra-margin" style="margin-bottom:0;">
  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Oversized-Bath-Sheet.png' | asset_img_url: '400x' }}" alt="Imm Glass Beads">
    <h4>Oversized Bath Sheet</h4>
    <p class="">Our oversized bath sheet provides 50% more coverage than a standard bath towel.</p>
  </div>

  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Robbed-Design.png' | asset_img_url: '400x' }}"
        alt="100% Percal Cotton Blanket">
    <h4>Ribbed Design</h4>
    <p class="">Quality craftsmanship and attractive ribbed design result in a durable & plush towel for the
        ultimate bath experience.</p>
  </div>

  <div class="innovation-flex-item material-options-item">
    <img class="lazyload" data-src="{{ 'Towel-Packaging.png' | asset_img_url: '400x' }}" alt="Luxury Carrying Tote">
    <h4>Perfectly Packaged</h4>
    <p class="">Whether enjoying yourself or giving as a gift, our products make the perfect presentation.</p>
  </div>
</div>

{{ 'towel.css' | asset_url | stylesheet_tag }}
{% elsif product.id == 6890447896637 %}{%comment%}weighted-blanket (Consolidation-Page){%endcomment%}
  <div class="product-review-div">
    <div class="all-products-flex-review">
      <h3 class="product-review-yotpo-p">I've tried ﬁve different weighted blankets before this. NONE compare. The other blanket's beads would get bunched up on one side. 
          This blanket is the absolute best weighted blanket on the market.
          <span class="product-review-name">- Kevin R.</span>
      </h3>
      <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
    </div>
  </div>
{% elsif product.id == 1482350919749 %}{%comment%}weighted-blanket-cover{%endcomment%}
  <div class="product-review-div">
    <div class="all-products-flex-review">
      <h3 class="product-review-yotpo-p">I've tried five different weighted blankets before this. NONE compare. 
      The other blanket's beads would get bunched up on one side. This blanket is the absolute best weighted blanket on the market
          <span class="product-review-name">- Kevin R.</span>
      </h3>
      <button id="yotpo-review-all-button-id" class="yotpo-review-all-button">VIEW ALL REVIEWS</button>
    </div>
  </div>
{% endif %}

<script>
    var buttonReview = document.getElementById("yotpo-review-all-button-id")
    var sectionReview = document.getElementById("product-customer-reviews")
    if (buttonReview) {
      buttonReview.onclick = function () {
        $('html, body').animate({
          scrollTop: $("#product-customer-reviews").offset().top
        }, 1000)
      }
    }
</script>

<style>
  .inner-line{
    color: white;
    width: 53%;
  }
  .dual-loop-plus{
    line-height:.5;
  }
  .product-review-yotpo-p {
    font-size: 1.2em;
    font-family: "Noto Serif Display",sans-serif;
    font-style: italic;
    padding: 0 20%;
    margin-top:2em;
    line-height: 1.2em;
  }
  .product-review-yotpo-p span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
  }
  .yotpo-review-all-button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid black;
    font-size: 1em;
    padding: 0.5em 2em;
    color: black;
    margin-top: 1em;
  }
  .product-review-div {
    width: 100vw;
    min-height: 200px;
    color: black;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pp-mobile-only{
    display:none;
  }
  .all-products-flex-review {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 220px;
    background-image: url('{{ 'Ghosted_XO.png' | asset_url}}');
    background-size: 416px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .view-reviews-button{
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
  }
  .pp-dual-loop-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pp-dual-loop-section img{
    width: 38vw;
  }
  .pp-dual-loop-section ol{
    display:block;
    list-style-type: decimal;
    color: black;
    font-family: 'Work Sans',sans-serif;
    font-weight:400;
    margin: 15px 0 0 50px;
  }

  @media only screen and (max-width: 480px) {
    .product-review-div .product-review-yotpo-p{
      font-size: 1em;
      padding:0 2em;
    }
    .all-products-flex-review{
      background-size: 250px;
      height: fit-content;
    }
    .product-review-div {
      min-height: fit-content;
      padding-bottom:3px;
    }
    .pp-dual-loop-section{
      flex-direction:column;
    }
    .pp-dual-loop-section ol{
      display:none;
    }
    .pp-mobile-only{
      color: black;
      font-family: 'Work Sans',sans-serif;
      font-weight:400;
      text-align:center;
      display:block;
      padding: 0 30px;
      font-size: 11px;
    }
    .pp-dual-loop-section img{
      width: 89vw;
    }
  }

  @media only screen and (min-width: 380px) {
    .product-review-yotpo-p {
      font-size: 1.1em;
      font-weight: 400;
    }
    .product-review-yotpo-p span{
      font-size:1em;
    }
    .yotpo-review-all-button{
      font-size:.9em;
    }
    .all-products-flex-review {
      background-size: 230px;
    }
  }
  
</style>