<!doctype html>
<html class="no-js" lang="{{ request.locale }}">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  <link rel="preload" href="{{ 'theme.scss.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'niels-sloesen-combined.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}" as="script">
  <link rel="preload" as="script" href="https://www.googleoptimize.com/optimize.js?id=OPT-TXVQ379">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'JosefinSans-Light.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'JosefinSans-Regular.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'NotoSerifDisplay-Italic.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'NotoSerifDisplay-Medium.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'NotoSerifDisplay-Bold.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'WorkSans-Light.woff2' | asset_url }}">
  <link rel="preload" as="font" type="font/woff2" crossorigin href="{{ 'WorkSans-Regular.woff2' | asset_url }}">
  
  <link rel="preload" href="{{ 'theme.min.js' | asset_url }}"  as="script">
  <link rel="preload" as="script" href="https://www.googleoptimize.com/optimize.js?id=OPT-TXVQ379">

  {% render 'fonts' %}
  {% render 'pagespeed' %}

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'niels-sloesen-combined.css' | asset_url | stylesheet_tag }}
  
  {% if shop.enabled_currencies.size > 1 %}<link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}">{% endif %}
  <style>div#PageContainer>div.transition-body {padding-top: 0px;}div#PageContainer>div#qab_container+div.transition-body {padding-top: 0;}</style>
  <noscript id="defer-css-2">
    <style>
      .product-shop-now {background: url("{{ 'Finish_Making_Bed_-_Background.jpg' | asset_url }}");}
      .custom-shogun-banner{position:relative;z-index:-1;}
    </style>
  </noscript>
  
  {% style %}
    .collection-item__title {
      font-size: {{ settings.type_collection_size | times: 0.8 }}px;
    }

    @media screen and (min-width: 769px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size }}px;
      }
    }
  {% endstyle %}
  <script>
    let postieLoad=()=>{
    (function(z,i,p,c,o,d,e){z[c]||(z[c]=function(){(z[c].q=z[c].q||[]).
    push(arguments)},z[c].q=z[c].q||[],d=i.createElement(p),d.async=1,d.
    src=o,e=i.getElementsByTagName(p)[0],e.parentNode.insertBefore(d,e))
    })(window,document,"script","letterpress","//scripts.postie.com/crdxgkwe/lp.1.js");
    window.letterpress('trackPageView')};trkArr.push(postieLoad);
  </script>
  
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "3.0.2"
    };
  </script>

  {% comment %}{{ content_for_header }}{% endcomment %}
  

    <script src="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}"></script>
  
  {%- if request.page_type contains 'customers/' -%}{{ 'shopify_common.js' | shopify_asset_url }}{%- endif -%}
  
  
  
    <!-- Google Tag Manager -->
  <script>let gtmLoad=()=>{(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PGWT6J9')}; trkArr.push(gtmLoad);</script>
  <!-- End Google Tag Manager -->
    
    
    <!-- ShareASale Tag --><script>var shareasaleShopifySSCID=shareasaleShopifyGetParameterByName("sscid");function shareasaleShopifySetCookie(e,a,o,i,r){if(e&&a){var s,S=i?"; path="+i:"",h=r?"; domain="+r:"",t="";o&&((s=new Date).setTime(s.getTime()+o),t="; expires="+s.toUTCString()),document.cookie=e+"="+a+t+S+h}}function shareasaleShopifyGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var o=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return o?o[2]?decodeURIComponent(o[2].replace(/\+/g," ")):"":null}shareasaleShopifySSCID&&shareasaleShopifySetCookie("shareasaleShopifySSCID",shareasaleShopifySSCID,94670778e4,"/");</script>

    {% render 'shogun-head' %}
    {% if template contains 'page' or template contains 'collection' %}
    {% render 'shogun-products-tag' %}
    {% endif %}
</head>

  <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-transitions="false">
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>












    {% comment %} Accessibility Link {% endcomment %}
    
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    <div id="PageContainer" class="page-container">
      
      <div id="qab_placeholder">
      </div>
      
      <div class="transition-body">

        {% section 'header' %}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {%comment%} {% section 'footer-promotions' %}  {%endcomment%}
        {% section 'footer-bogota-dev'%}
        {%comment%} {% section 'footer' %}      {%endcomment%}

      </div>
      
    </div>

    {% section 'newsletter-popup' %}

    {%- if settings.cart_type == 'drawer' -%}
    {%- include 'ajax-cart-template' -%}
    {%- endif -%}

    {% comment %}
    Custom markup for slider arrows using theme icons
    {% endcomment %}
    <div class="hide">
      <button id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}" type="button">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
        <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
      </button>
      <button id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
        <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
      </button>
    </div>

    {%- if settings.predictive_search_enabled -%}
    {%- include 'predictive-template' -%}
    {%- endif -%}

    {% include 'video-modal' %}
    {% include 'photoswipe-template' %}
    {% if template contains 'product' %}
    {% include 'recently-viewed-product-template' %}
    {% endif %}

    {% include 'klarna-info' %}

    <!-- Klarna Tag -->
{% comment %}
    {% capture spuritL %}
    {% render 'spurit_po2_theme_snippet' %}
    {% endcapture %}{{ spuritL | remove: '<script src="https://amaicdn.com/preorder2/common.js"></script>' }}
    <script>Spurit.globalOnLoad=function(){Spurit.global.atc.onBeforeEventPrevented(()=>!0),Spurit.global.atc.onBefore((a,b,c,d,e)=>{$("button.add-to-cart").addClass("btn--loading"),$(".spurit-po-wrapper button").addClass("btn--loading"),e(Spurit.global.constants.ATC.SUBMIT_MODE_AJAX,c)}),Spurit.global.atc.onAfter((a,b,c,d)=>{d!==Spurit.global.constants.ATC.SUBMIT_MODE_AJAX||($("button.add-to-cart").removeClass("btn--loading"),$(".spurit-po-wrapper button").removeClass("btn--loading"),theme.cart.getCart().then(function(a){theme.CartDrawer.prototype.status={loaded:!1,loading:!1};var b=$("#CartTemplate").html();theme.CartDrawer.prototype.template=Handlebars.compile(b),theme.CartDrawer.prototype.buildCart(a),$("a.js-drawer-open-cart").click()}))})};</script>
{% endcomment %}

    {% render 'Pix' %}
    {% render 'lazysizes' %}

    {% render 'qab-clock' %}

    {% if template contains 'product' or template == 'cart' %}
    


    {% endif %}
<script src="{{ 'theme.min.js' | asset_url }}"></script>
  
    <noscript>
      <!-- Google Tag Manager (noscript) --> <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGWT6J9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <script>
      //  Accessibility Script
      function accessI () {
        (function(){ 
          var s = document.createElement('script'), 
              e = ! document.body ? document.querySelector('head') : document.body;
          s.src = 'https://acsbapp.com/apps/app/dist/js/app.js';
          s.async = true;
          s.onload = function(){ 
            acsbJS.init(
              { 
                statementLink : '', 
                footerHtml : '', 
                hideMobile : false, 
                hideTrigger : true, 
                language : 'en', 
                position : 'right', 
                leadColor : '#000000', 
                triggerColor : '#000000', 
                triggerRadius : '50%', 
                triggerPositionX : 'right', 
                triggerPositionY : 'bottom', 
                triggerIcon : 'people', 
                triggerSize : 'medium', 
                triggerOffsetX : 20, 
                triggerOffsetY : 20, 
                mobile : { 
                  triggerSize : 'small', 
                  triggerPositionX : 'right', 
                  triggerPositionY : 'center', 
                  triggerOffsetX : 10, 
                  triggerOffsetY : 0, 
                  triggerRadius : '50%' 
                } 
              })
            ; 
          };
          e.appendChild(s);
        }());}; trkArr.push(accessI);
      //  End Accessibility Script
    </script>

    {% comment %}
    KLAVIYO Back in Stock
    {% endcomment %}
    {% if template contains 'product' %}

    <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: "LegTnq",
        platform: "shopify",
        list: "QbrVNY",
      });
      klaviyo.enable("backinstock",{ 
        trigger: {
          product_page_text: "Notify me when available",
          product_page_class: "btn custom-klaviyo-btn",
          product_page_text_align: "center",
          product_page_margin: "0px",
          replace_anchor: false
        },
        modal: {
          headline: "{product_name}",
          body_content: "Enter your email and we'll let you know when this product is back in stock.",
          email_field_label: "Email Address",
          button_label: "SUBMIT",
          subscription_success_label: "Success! We'll let you know when your item is back.",
          footer_content: '',
          additional_styles: "",
          drop_background_color: "#000",
          background_color: "#fff",
          text_color: "#222",
          button_text_color: "#fff",
          button_background_color: "#000000",
          close_button_color: "#ccc",
          error_background_color: "#fcd6d7",
          error_text_color: "#C72E2F",
          success_background_color: "#b3bfc5",
          success_text_color: "#000000",
          newsletter_subscribe_label: "Add me to Luxome's email list.",
          font_family: "Montserrat, serif"

        }
      });
    </script>


<style>
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
{% endif %}
<!--  AddShoppers   -->
<script type="text/javascript">
  function addSh () {
    var AddShoppersWidgetOptions = { 'loadCss': false };
    (!function(){
      var t=document.createElement("script");
      t.type="text/javascript",
        t.async=!0,
        t.id="AddShoppers",
        t.src="https://shop.pe/widget/widget_async.js#6019cb420ff4c3057d168e1f",
        document.getElementsByTagName("head")[0].appendChild(t)
    }());}; trkArr.push(addSh);
</script>

<style id="luxome-custom-style">  
  @media only screen and (max-width: 768px) {#site-header-original-position.with-qab-clock {padding-top: 0px !important;}}
</style>
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-TXVQ379"></script>
  </body>
		{% comment %}
			<link rel="preload" href="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}" as="script">
			<script src="{{ 'vendor-scripts-v6.js' | asset_url | split: '?' | first }}"></script>
		{% endcomment %}  
</html>
