<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
      
    <div class="keep_in_t"> 
      <h3>Keep In Touch With Us</h3>
      
      <a href="https://www.facebook.com/luxomehome/?ref=page_internal" target="_blank" class="social-media-link">
        <img src="{{ 'FB-icon.png' | asset_img_url: '30x' }}" alt="facebook icon">
      </a>
      <a href="https://www.instagram.com/luxome/" target="_blank" class="social-media-link">
        <img src="{{ 'IG-icon.png' | asset_img_url: '30x' }}" alt="instagram icon">
      </a>
      <a href="https://youtube.com/channel/UCxRdky01s9RjQXnBBFt1oDw" target="_blank" class="social-media-link">
        <img src="{{ 'YT-icon.png' | asset_img_url: '30x' }}" alt="youtube icon">
      </a>
      
      <a href="https://co.pinterest.com/luxomehome/" target="_blank" class="social-media-link">
        <img src="{{ 'PIN-icon.png' | asset_img_url: '30x' }}" alt="pinterest icon">
      </a>
    </div>
    
    <div class= "footer-email">
      <form method="post" action="/contact#newsletter-footer" id="newsletter-footer" accept-charset="UTF-8" class="contact-form">
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <label for="Email-1494292487693" class="hidden-label">Email Address</label>
        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
        <input type="hidden" name="contact[context]" value="footer">
        <div class="footer__newsletter">
          <input type="email" value="" placeholder="   Email Address" name="contact[email]" id="Email-1494292487693" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
          <button id="footer__newsletter-btn" type="submit" class="footer__newsletter-btn" name="commit">
            <svg class="svg-right-arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 31.49 31.49" style="enable-background:new 0 0 31.49 31.49;" xml:space="preserve">
              <path style="fill:#1E201D;" d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
                  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
                  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>
            </svg>
            <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><path d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"></path></svg> -->
            <span class="footer__newsletter-btn-label">
              Subscribe
            </span>
          </button>
        </div>
      </form>
      <p>Subscribe and be the first to learn about promos, new products & sales.</p>
    </div> 
    <div class="h3-subscribe">
        <img class="xo-subscribe-link" src="{{ 'Gold-XO-Small.png' | asset_img_url: '300x' }}" alt="XO Subscribe">
    </div>
      
 <!-- ======= RETURN ======== -->     
      <div class="footer__item" data-type="menu">
        <div id="Footer" class="collapsible-content collapsible-content--small">
          <div class="collapsible-content__inner">
            <div class="footer__collapsible">
              <ul class="no-bullets site-footer__linklist site-footer__linklist-gray">
{% comment %} <!--                 <li><a href="/pages/return-policy">Return Policy</a></li> --> {% endcomment %}
                <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
                <li><a href="/pages/terms-of-service">Terms of Service</a></li>
                <li class='accesibility-icon-container'>
                  <span id='people' data-acsb="trigger" class='accesibility-icon'>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="36" height="36" viewBox="0 0 50 50">
                      <title id="accesibilityIcon">Accesibility Icon</title>
                      <g fill="#fff" stroke="none">
                        <g>
                          <path class="st0" d="M25.02,49.38c-13.46,0-24.41-10.95-24.41-24.41c0-13.46,10.95-24.41,24.41-24.41
                                               c13.46,0,24.41,10.95,24.41,24.41C49.42,38.43,38.48,49.38,25.02,49.38z M25.02,3.07c-12.08,0-21.9,9.82-21.9,21.9
                                               c0,12.08,9.82,21.9,21.9,21.9c12.08,0,21.9-9.82,21.9-21.9C46.92,12.89,37.09,3.07,25.02,3.07z"/>
                        </g>
                          <g fill="#fff" stroke="none">
                              <path class="st1" d="M23.45,37.44c-4.13,0-7.5-3.36-7.5-7.5c0-2.24,0.99-4.25,2.55-5.63v-3.19c-3.08,1.74-5.17,5.04-5.17,8.82
                                  c0,5.58,4.54,10.12,10.12,10.12c2.96,0,5.62-1.28,7.47-3.31l-0.76-3.47C28.93,35.75,26.39,37.44,23.45,37.44z"/>
                              <path class="st1" d="M38.87,34.72c-0.14-0.69-0.9-1.12-1.68-0.95L35.1,34.2l-1.7-8.17c-0.09-0.72-0.7-1.28-1.44-1.28h-8.12v-1.98
                                  h4.85c0.8,0,1.45-0.63,1.45-1.4c0-0.77-0.65-1.4-1.45-1.4h-4.85V18.1c0-0.8-0.65-1.45-1.46-1.45h-0.9c-0.8,0-1.45,0.65-1.45,1.45
                                  v8.11v0.47c0,0.8,0.65,1.45,1.45,1.45h0.9h8.05l1.62,7.82c0.16,0.78,0.94,1.29,1.72,1.13l0.4-0.08c0.05-0.01,0.11-0.01,0.16-0.03
                                  l3.36-0.7C38.49,36.11,39.01,35.41,38.87,34.72z"/>
                              <path class="st1" d="M21.94,15.85c1.74,0,3.14-1.41,3.14-3.14c0-1.73-1.41-3.14-3.14-3.14c-1.73,0-3.14,1.41-3.14,3.14
                                  C18.79,14.44,20.2,15.85,21.94,15.85z"/>
                          </g>
                      </g>
                    </svg>
                    
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-copyright">
            <div>Copyright &copy;{{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}.</div>
            <div>{{ powered_by_link }}.</div>
          </div>
        </div>
      </div>
 <!-- ======= END RETURN ======== -->       
     <div class="shop-company-support-footer">
  <!-- ======= SHOP COLUMN 1 ======== -->
        <div class="footer__item desktop-only" data-type="menu">

            <h4>
              Shop
            </h4>
            <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="shop-foot">
              Shop
              <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                <svg class="icon icon--wide icon-chevron-down" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                  <g class="footer-plus-symbol">
                    <line class="footer-vertical-line" x1="5.5" x2="5.5" y2="11" stroke="#232323"/> 
                    <line y1="5.5" x2="11" y2="5.5" stroke="#232323"/>
                  </g> 
                </svg> 
              </span>
            </button>

          <div id="shop-foot" class="collapsible-content collapsible-content--small">
            <div class="collapsible-content__inner">
              <div class="footer__collapsible">
                <ul class="no-bullets site-footer__linklist">
                  <li><a href="/products/climasense-comforter?variant=40039052279869">ClimaSense Comforter</a></li>
                  <li><a href="/products/duvet-cover?variant=40040988082237">Duvet Cover</a></li>
                  <li><a href="/products/bamboo-blanket?variant=39344804790333">Lightweight Blanket</a></li>
                  <li><a href="/products/ultra-plush-throw?variant=39970670051389">Ultra Plush Throw</a></li>
                  <li><a href="/products/weighted-blanket?variant=40256156303421">Weighted Blanket</a></li>
                  <li><a href="/products/removable-covers?variant=19695805530181">Weighted Blanket Covers</a></li>
                  <li><a href="/products/layr-adjustable-pillow?variant=31902303125565">LAYR Pillow</a></li>

                  <li class='mobile-only'><a href="/products/bamboo-sheets?variant=31578516455485">Luxury Sheet Set</a></li>
                  <li class='mobile-only'><a href="/products/bamboo-pillowcase-set?variant=32926522769469">Pillowcase Set</a></li>
                  <li class='mobile-only'><a href="/products/plush-performance-towels">Plush Performance Towels</a></li>
                  <li class='mobile-only'><a href="/products/spa-collection-towels">Spa Collection Towels</a></li>
                  <li class='mobile-only'><a href="/products/ultra-plush-robe?variant=39788176408637">Ultra Plush Robe</a></li>
                  <li class='mobile-only'><a href="/collections/last-call">Best Deals</a></li>
                  <li class='mobile-only'><a href="/products/luxome-gift-card">Gift Card</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

  <!-- ======= END SHOP COLUMN 1======== -->
        <div class="footer__item mobile-only" data-type="menu">
          <h4>
            Shop
          </h4>
          <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="shop2-foot">
            Shop
            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
              <svg class="icon icon--wide icon-chevron-down" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <g class="footer-plus-symbol"><line class="footer-vertical-line" x1="5.5" x2="5.5" y2="11" stroke="black"/> <line y1="5.5" x2="11" y2="5.5" stroke="black"/></g> </svg> 
            </span>
          </button>
          <div id="shop2-foot" class="collapsible-content collapsible-content--small">
            <div class="collapsible-content__inner">
              <div class="footer__collapsible">
                <ul class="no-bullets site-footer__linklist">
                  <li><a href="/products/climasense-comforter?variant=40039052279869">ClimaSense Comforter</a></li>
                  <li><a href="/products/duvet-cover?variant=40040988082237">Duvet Cover</a></li>
                  <li><a href="/products/bamboo-blanket?variant=39344804790333">Lightweight Blanket</a></li>
                  <li><a href="/products/ultra-plush-throw?variant=39970670051389">Ultra Plush Throw</a></li>
                  <li><a href="/products/weighted-blanket?variant=40256156303421">Weighted Blanket</a></li>
                  <li><a href="/products/removable-covers?variant=19695805530181">Weighted Blanket Covers</a></li>
                  <li><a href="/products/layr-adjustable-pillow?variant=31902303125565">LAYR Pillow</a></li>

                  <li class='mobile-only'><a href="/products/bamboo-sheets?variant=31578516455485">Luxury Sheet Set</a></li>
                  <li class='mobile-only'><a href="/products/bamboo-pillowcase-set?variant=32926522769469">Pillowcase Set</a></li>
                  <li class='mobile-only'><a href="/products/plush-performance-towels">Plush Performance Towels</a></li>
                  <li class='mobile-only'><a href="/products/spa-collection-towels">Spa Collection Towels</a></li>
                  <li class='mobile-only'><a href="/products/ultra-plush-robe?variant=39788176408637">Ultra Plush Robe</a></li>
                  <li class='mobile-only'><a href="/collections/last-call">Best Deals</a></li>
                  <li class='mobile-only'><a href="/products/luxome-gift-card">Gift Card</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  <!-- ======= SHOP COLUMN 2 ======== -->
        <div class="footer__item shop-column-2" data-type="menu">
          <div class="mobile-footer__item">
            <h4 class='shop-column-2-desktop'> Shop </h4>
            <button type="button" class="shop-column-2-desktop h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="shop-foot">
              Shop
              <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                <svg class="icon icon--wide icon-chevron-down" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                  <g class="footer-plus-symbol">
                    <line class="footer-vertical-line" x1="5.5" x2="5.5" y2="11" stroke="#232323"/> 
                    <line y1="5.5" x2="11" y2="5.5" stroke="#232323"/>
                  </g> 
                </svg> 
              </span>
            </button>
          </div>
          <div id="shop-foot" class="collapsible-content collapsible-content--small">
            <div class="collapsible-content__inner">
              <div class="footer__collapsible">
                <ul class="no-bullets site-footer__linklist">
                  <li><a href="/products/bamboo-sheets?variant=31578516455485">Luxury Sheet Set</a></li>
                  <li><a href="/products/bamboo-pillowcase-set?variant=32926522769469">Pillowcase Set</a></li>
                  <li><a href="/products/plush-performance-towels">Plush Performance Towels</a></li>
                  <li><a href="/products/spa-collection-towels">Spa Collection Towels</a></li>
                  <li><a href="/products/ultra-plush-robe?variant=39788176408637">Ultra Plush Robe</a></li>
                  <li><a href="/collections/last-call">Best Deals</a></li>
                  <li><a href="/products/luxome-gift-card">Gift Card</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  <!-- ======= END SHOP COLUMN 2======== -->
      
  <!-- ======= COMPANY ======== -->
        <div class="footer__item" data-type="menu">
          <h4>
            Company
          </h4>
          <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="company-foot">
            Company
            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
              <svg class="icon icon--wide icon-chevron-down" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <g class="footer-plus-symbol"><line class="footer-vertical-line" x1="5.5" x2="5.5" y2="11" stroke="black"/> <line y1="5.5" x2="11" y2="5.5" stroke="black"/></g> </svg> 
            </span>
          </button>
          <div id="company-foot" class="collapsible-content collapsible-content--small">
            <div class="collapsible-content__inner">
              <div class="footer__collapsible">
                <ul class="no-bullets site-footer__linklist">
                  <li><a href="/pages/about-us">About Us</a></li>
                  <li><a href="/pages/sustainability">Sustainability</a></li>
                  <li><a href="/pages/reviews">Reviews</a></li>
                  <li><a href="/pages/videos">Videos</a></li>
                  <li><a href="/blogs/read-sleep-repeat">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  <!-- ======= END COMPANY ======== -->
  <!-- ======= SUPPORT ======== -->
       <div class="footer__item footer__support">
         <h4>
           Support
         </h4>
         <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="support-foot">
           Support
           <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
             <svg class="icon icon--wide icon-chevron-down" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <g class="footer-plus-symbol"><line class="footer-vertical-line" x1="5.5" x2="5.5" y2="11" stroke="black"/> <line y1="5.5" x2="11" y2="5.5" stroke="black"/></g> </svg> 
           </span>
         </button>      
         <div id="support-foot" class="collapsible-content collapsible-content--small">
           <div class="collapsible-content__inner">
             <div class="footer__collapsible">
               <ul class="no-bullets site-footer__linklist">
                 <li><a href="/pages/contact-us">Contact Us</a></li>
                 <li><a href="/pages/returns-exchanges">Returns & Exchanges</a></li>
                 <li><a href="/pages/care-instructions">Care Instructions</a></li>
                 <li><a href="/pages/faq">FAQ</a></li>
                 
                 <li>
                   <a href="#" alt="Accesibility" data-acsb="trigger" aria-label="open accessibility">Accessibility</a> 
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
 <!-- ======= END SUPPORT ======== -->
    </div>
      

  <!-- ======= EXTRA FOR MOBILE ======== -->
  <div class="keep_in_t_mobile">
    <a href="https://www.facebook.com/luxomehome/?ref=page_internal" target="_blank" class="social-media-link">
      <img src="{{ 'FB-icon.png' | asset_img_url: '30x' }}" alt="facebook icon">
    </a>
    <a href="https://www.instagram.com/luxome/" target="_blank" class="social-media-link">
      <img src="{{ 'IG-icon.png' | asset_img_url: '30x' }}" alt="instagram icon">
    </a>
    <a href="https://youtube.com/channel/UCxRdky01s9RjQXnBBFt1oDw" target="_blank" class="social-media-link">
      <img src="{{ 'YT-icon.png' | asset_img_url: '30x' }}" alt="youtube icon">
    </a>

    <a href="https://co.pinterest.com/luxomehome/" target="_blank" class="social-media-link">
      <img src="{{ 'PIN-icon.png' | asset_img_url: '30x' }}" alt="pinterest icon">
    </a>
  </div>
  
  <div class="footer__item-mobile" data-type="menu">
    <ul class="no-bullets site-footer__linklist site-footer__linklist-gray">
<!--       <li><a href="/pages/return-policy">Return Policy</a></li> -->
      <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
      <li><a href="/pages/terms-of-service">Terms of Service</a></li>
      
      <li class='accesibility-icon-container'>
        <span id='people' data-acsb="trigger" class='accesibility-icon'>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="36" height="36" viewBox="0 0 50 50">
            <title id="accesibilityIcon">Accesibility Icon</title>
            <g fill="#fff" stroke="none">
              <g>
                <path class="st0" d="M25.02,49.38c-13.46,0-24.41-10.95-24.41-24.41c0-13.46,10.95-24.41,24.41-24.41
                                     c13.46,0,24.41,10.95,24.41,24.41C49.42,38.43,38.48,49.38,25.02,49.38z M25.02,3.07c-12.08,0-21.9,9.82-21.9,21.9
                                     c0,12.08,9.82,21.9,21.9,21.9c12.08,0,21.9-9.82,21.9-21.9C46.92,12.89,37.09,3.07,25.02,3.07z"/>
              </g>
              <g fill="#fff" stroke="none">
                <path class="st1" d="M23.45,37.44c-4.13,0-7.5-3.36-7.5-7.5c0-2.24,0.99-4.25,2.55-5.63v-3.19c-3.08,1.74-5.17,5.04-5.17,8.82
                                     c0,5.58,4.54,10.12,10.12,10.12c2.96,0,5.62-1.28,7.47-3.31l-0.76-3.47C28.93,35.75,26.39,37.44,23.45,37.44z"/>
                <path class="st1" d="M38.87,34.72c-0.14-0.69-0.9-1.12-1.68-0.95L35.1,34.2l-1.7-8.17c-0.09-0.72-0.7-1.28-1.44-1.28h-8.12v-1.98
                                     h4.85c0.8,0,1.45-0.63,1.45-1.4c0-0.77-0.65-1.4-1.45-1.4h-4.85V18.1c0-0.8-0.65-1.45-1.46-1.45h-0.9c-0.8,0-1.45,0.65-1.45,1.45
                                     v8.11v0.47c0,0.8,0.65,1.45,1.45,1.45h0.9h8.05l1.62,7.82c0.16,0.78,0.94,1.29,1.72,1.13l0.4-0.08c0.05-0.01,0.11-0.01,0.16-0.03
                                     l3.36-0.7C38.49,36.11,39.01,35.41,38.87,34.72z"/>
                <path class="st1" d="M21.94,15.85c1.74,0,3.14-1.41,3.14-3.14c0-1.73-1.41-3.14-3.14-3.14c-1.73,0-3.14,1.41-3.14,3.14
                                     C18.79,14.44,20.2,15.85,21.94,15.85z"/>
              </g>
            </g>
          </svg>
        </span>
      </li>
    </ul>
    <div class="footer-copyright-mobile">
      <div>Copyright &copy;{{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}.</div>
      <div>{{ powered_by_link }}.</div>
    </div>
    <div class="footer-gold-xo-mobile">
      <img src="{{ 'Gold-XO-Small.png' | asset_img_url: '300x' }}" alt="XO Subscribe">
    </div>
  </div>
  <!-- ======= END MOBILE ======== -->
  </div>
</footer>

<script>
  function sendEmailBtn(){
  	//document.querySelector('#footer__newsletter-btn').click()
    document.querySelector("#newsletter-footer").submit()
  }
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
